
#header_list{
    /* width: 100%; */
    display: flex;
    flex: 3;
    justify-content: flex-start;
    align-items: center;
    vertical-align: center;
    font-weight: bold;
    margin-left: 10vw;
    margin-right: 10vw;
    /* padding-left: 20vw; */
    padding: 20px;
    color: #fff;
    list-style-type: none;
    backdrop-filter: blur(80px);
}

